 body{
    background:  #FFFFFF;
    min-width: 1281px;
    overflow-x: hidden;
 }
 #container1{
    min-width: 100%;
    margin: 1.3rem 0rem 8rem 7.5rem;
 }
 #container1 .logo{
     width: 7rem;
     height: 4.1rem;
 }
 #container1 .logos{
     margin-top: 6.1rem;
 }
 #container1 .logos *{
     width: 1.3rem;
     height: 1.3rem;
     padding-right: 10.625rem;
 }
 #container1 .text{
     font-family: 'Roboto';
     font-weight: 400;
<<<<<<< HEAD
     font-size: 1,25rem;
=======
>>>>>>> 193900943b8c72bacd269c74d4199494f23077f1
     font-size: 1.25rem;
     line-height: 115%;
 }
 #container1 .text .p1{
     position: absolute;
     left: 9.8rem;
     top: 10.5rem;
 }
 #container1 .text .p2{
    position: absolute;
    left: 22rem;
    top: 10.5rem;
 }
 #container1 .text .p3{
    position: absolute;
    left: 34rem;
    top: 10.5rem;
 }
 #container1 h1{
     width: 39.2rem;
     height: 11.8rem;
     font-family: 'Roboto Slab';
     font-weight: 700;
     font-size: 5rem;
 }
  #container1 p{
     width: 25.8rem;
     height: 3.8rem;
     font-family: 'Roboto';
     font-weight: 400;
     font-size: 1,25rem;
     margin-bottom: -19rem;
 }
 #container1 .i1{
     width: 19rem;
     height: 22.25rem;
     margin-left: 45rem;
 }
 #container1 .p-blue{
     width: 30.2rem;
     height: 13.7rem;
     margin: 7rem 0rem 0rem 10rem;
     background: #1E4681;
     border-radius: 5px;
     color: #FFFFFF;
 }
 #container1 .p-blue p{
     width: 26.9rem;
     height: 7rem;
     padding: 1.5rem 1.6rem;
     margin: -0.1rem 0rem 0rem 0.3rem;
     font-family: 'Roboto Slab';
     font-size: 1.5rem;
 }
 #container1 .p-blue h5{
     width:17.5rem ;
     height: 2.8rem;
     margin: 20rem 0rem 0rem 11rem;
     font-family: 'Roboto';
     font-weight: 400;
     font-size: 1.25rem;
     text-align: right;
 }
 #container2{
    min-width: 100%;
    margin: 1.3rem 0rem 0rem 7.5rem;
    color: #000000;
 }
 #container2 .ellipse2{
    width: 22rem;
    height: 3rem;
    margin: 17rem 0rem 0rem -18rem;
    z-index: -1;
 }
 #container2 h1{
    margin-bottom:0rem;
    width: 22.8rem;
    height: 5.8rem;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 3.4rem;
 }
 #container2 .p-i{
    display: flex;
    flex-direction: row;
 }
 #container2 .i2{
    width: 16.5rem;
    height: 16.5rem;
    margin: 2rem 0rem 0rem 7rem;
 }
 #container2 .paragraph{
    display: block;
 }
 #container2 p{
    width: 41.3rem;
    height: 23.3rem;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: -15rem;
 }
 #container2 .f-i{
    display: flex;
    flex-direction: row;
 }
 #container2 .features{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 9.3rem;
    margin: -2.5rem 0rem 0rem 8.25rem;
    font-family: 'Roboto';
 }
 #container2 .features .feature1{
    width: 8rem;
    display: block;
    margin-right: 8rem;
}
#container2 .features .feature2{
    width: 8rem;
    display: block;
    margin-right: 8rem;
}
#container2 .features .feature3{
    width: 8rem;
    display: block;
    margin-right: 8rem;
}
#container2 .features p{
    width: 9.5rem;
    height: 2.4rem;
    font-size: 1.12rem;
    font-weight: 400;
    margin-left: 0rem;
}
#container2 .features h5{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
#container2 .i3{
    width: 14.5rem;
    height: 12.6rem;
    margin-top: 7rem;
 }
 #container3{
    min-width: 100%;
    margin: 10rem 0rem 0rem 7.5rem;
    font-style: normal;
    color: #000000;
 }
#container3 h1{
    font-family: Roboto Slab;
    font-size: 3.4rem;
    font-weight: 700;
    margin-bottom: 5rem;
}
#container3 .box h1{
    font-family: 'Roboto'; 
    font-weight: 700;
    font-size: 1.1rem;
    color: #1E4681;
    margin-bottom: 0.7rem;
}
#container3 .box p{
    font-family: 'Roboto'; 
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    margin-left: 0rem;
    width: 16rem;
}
#container3 .box{
    width: 60rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 8rem;
}
#container3 .box1, .box2, .box3{
    display: block;
}
#container3 .title{
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 3.4rem;
}
#container3 .unordered-list{
    font-size: 1.5rem;
    margin-top: -3rem;
    width: 38rem;
    height: 21rem;
}
#container4{
    min-width: 100%;
    font-family: 'Roboto Slab';
    margin-left: 7.5rem;
    margin-top: 10rem;
}
#container4 .programs{
    font-family: 'Roboto';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#container4 .pr1{
    height: 20.5rem;
    width: 24.9rem;
    border-radius: 1.8rem;
    background-color:white;
    box-shadow: 0.06rem 0.06rem 0.9rem rgba(0, 0, 0, 0.25);
    margin: 0rem 1.25rem 1.25rem 0rem;
}
#container4 p{
    height: 2.4rem;
    width: 23rem;
    font-weight: 25rem;
    margin: 0rem 0rem 0rem 1.25rem;
}
#container4 h1{
    font-size: 3rem;
    margin-bottom: 5rem;
}
#container4 h2{
    margin-left: 1rem;
}
#container5{
    min-width: 100%;
    height: 50rem;
    background: #EFEFEF;
    margin: 6rem 0rem 0rem -1rem;
    padding: 3.5rem 0rem 0rem 7.5rem;
 }
#container5 h1{
    width: 61.8rem;
    height: 5.8rem;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 101.38%;
}
#container5 .box{
    width: 55rem;
    height: 31rem;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 0.5rem;
}
#container5 .box p{
    padding: 2.7rem 0rem 0rem 3rem;
    width: 49rem;
    height: 12.6rem;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 150%;
}
#container5 .box .img1{
    width: 13rem;
    height: 12rem;
    margin: 1rem 0rem 0rem 2rem;
}
#container5 .box h2{
    position: relative;
    left: 17rem;
    bottom: 11rem;
    width: 23rem;
    height: 59px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 2.1rem;
    line-height: 101.38%;
}
#container5 .box .img2{
    position: relative;
    bottom: 12.3rem;
    left: 17rem;
    width: 2.2rem;
    height: 2.2rem;
}
#container6{
    min-width: 100%;
    margin: -3rem -8rem 0rem -0.5rem;
    height: 48.75rem;
    background-color: #9DC9C8;;
}
#container6 h1{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 3.4rem;
    width: 56.7rem;
    height: 4.1rem;
    padding: 8rem 0rem 0rem 7.5rem ;
}
#container6 .rubl{
    margin: 0rem 0rem 0rem 7.5rem;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 5rem;
}
#container6 .word{
    margin: 7rem 0rem 0rem 7.5rem;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.5rem;
}
#container6 .parts{
    width: 50rem;
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-left: 7.5rem;
    font-family: 'Roboto';
    font-weight: 400;
}
#container6 .part1{
    width: 38%;
    display: block;
    margin-right: 9rem;
    justify-content: start;
}
#container6 .part2{
    width: 35%;
    display: block;
    margin-left: -5rem;
    justify-content: center;
}
#container6 .first-row{
    font-size: 1.5rem;
}
#container6 .second-row{
   font-size: 1.1rem;
}
#container7{
    min-width: 100%;
    height: 27rem;
    background: #000000;
    margin: -3rem -8rem -1rem -0.5rem;
}
#container7 .logo2{
    position: relative;
    width: 7.7rem;
    height: 4.7rem;
    left: 7.5rem;
    top: 3.5rem;
}
#container7 .logos2{
    position: relative;
    left: 7.5rem;
    top: 5.3rem;
}
#container7 .logos2 *{
    width: 2.2rem;
    height: 2.2rem;
    padding-right: 1rem;
}
#container7 .p1{
    position: relative;
    left: 7.5rem;
    top: 14.2rem;
    width: 14.3rem;
    height: 2.5rem;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 101.38%;
    color: #FFFFFF;
}
#container7 ul {
    position: relative;
    left: 53rem;
    bottom: 10rem;
}
#container7 ul li{
    padding-top: 1rem;
}
#container7 ul li span{
    width: 16.8rem;
    height: 2.5rem;
    font-family: 'Roboto';
    font-size: 1.5rem;
    line-height: 101.38%;
    color: #FFFFFF;
    padding-left: 1rem;
}
@media screen and (min-width: 320px) and (max-width: 991px) {
    html{
        font-size: 8px;
    }
    #container1 .logos *{
        padding-right: 9.3rem;
    }
    #container1 .text .p1{
        position: absolute;
        left: 10.4rem;
<<<<<<< HEAD
        top: 10.45rem;
=======
        top: 10.85rem;
>>>>>>> 193900943b8c72bacd269c74d4199494f23077f1
    }
    #container1 .text .p2{
       position: absolute;
       left: 21rem;
<<<<<<< HEAD
       top: 10.45rem;
=======
       top: 10.85rem;
>>>>>>> 193900943b8c72bacd269c74d4199494f23077f1
    }
    #container1 .text .p3{
       position: absolute;
       left: 32rem;
<<<<<<< HEAD
       top: 10.45rem;
    }
     #container1 .i1{
        position: relative;
        top: 19rem;
=======
       top: 10.85rem;
    }
     #container1 .i1{
        position: relative;
        top: 21rem;
>>>>>>> 193900943b8c72bacd269c74d4199494f23077f1
        right: 23rem;
    }
    #container1 .ellipse1{
        position: relative;
        top: 20rem;
        right: 23rem;
        z-index: -1;
    }
     #container1 .p-blue{
        position: relative;
        top: 15rem;
        right: 10rem;
     }   
     #container2{
        padding-top: 17rem;
     }
<<<<<<< HEAD
=======
<<<<<<< HEAD
     #container2 .i3{
        display: none;
    }
    #container2 .features p{
        width: 10rem;
        margin-bottom: 4rem;
 }
     #container2 .features h5{
        width: 8rem;
        font-size: 1.5rem;
        margin-bottom: -1rem;
     }
    #container2 h1{
        margin: 8rem 0rem 1rem 0rem;
        font-size: 3.2rem;
}
    #container2 p{
        width: 39rem;
        font-size: 1.5rem;
        margin-bottom: -15rem;     
 }
    #container2 .features{
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 4rem 0rem 0rem 0rem;
        width: 30rem;
     }
     #container2 .features .feature1{
        width: 9rem;
        margin: 0rem 5.6rem -4rem 0rem;
 }
    #container2 .features .feature2{
        width: 9rem;
        margin: 0rem 2.8rem -4rem 0rem;
}
    #container2 .features .feature3{
       width: 9rem;
       margin-right: 4rem;
}
     #container2 .p-i{
        display: flex;
        flex-direction: column;
     }
     #container2 .i2{
        width: 17rem;
        height: 16rem;
        margin: 6rem 0rem 0rem 10rem;
 }
     #container3 h1{
       margin: -4rem 0rem 2rem 0rem;
     }
     #container3 .box{
        flex-direction: column;     
        margin-bottom: 8rem;
    }
    #container3 .box *{
       margin-top: 1rem;
    }
    #container3 .title{
       margin-bottom: 7rem;
    }
    #container3 .unordered-list{
        justify-content: center;
        width: 21%;
        margin-left: -3rem;
    }
    #container4{
        margin:0;
    }
    #container4 h1{
        margin-left: 7.5rem;
    }
    #container4 .programs{
        flex-direction: column;
        margin-left: 7%;
    }
    #container5 h1{
        width: 40rem;
        margin: 0rem 0rem 5rem 1rem;
    }
    #container5 .box{
        width: 45rem;
        height: 37rem;
    }
    #container5 .box p{
        width: 38rem;
        height: 12.6rem;
        margin-bottom: 5rem;
    }
    #container5 .box .img2{
        bottom: 15.6rem;
    }
    #container5{
        height: 60rem;
    }
    #container6{
        height: 60rem;
    }
    #container6 h1{
        width: 30rem;
        margin-bottom: 10rem;
    }
    #container7 ul {
        left: 2.8rem;
        top: 6rem;
    }
    #container7{
        height: 40rem;
    }
    #container7 .p1{
        left: 7.5rem;
        top: 26.5rem;
}
=======
     #container3 .box{
     } 
>>>>>>> 193900943b8c72bacd269c74d4199494f23077f1
>>>>>>> 0bae021aa658491977de1d2a0632ce6affe0d3b3
}
@media screen and (min-width: 992px) and (max-width: 1279px){
    html{
        font-size: 14px;
     }
#container3 .box{
    margin-top: -0.5rem;
}
#container5 .box p{
    width: 48.1rem;
}
#container5{
    padding-right: 1.5rem;
}
#container7{
    margin-left: -1rem;
}
#container7 ul {
    left: 67rem;
}
#container7 .p1{
    top: 11rem;
}
<<<<<<< HEAD
}
=======
}
>>>>>>> 193900943b8c72bacd269c74d4199494f23077f1
